:root {
  --header-right: #2e46cd;
  --header-btn: #435cac;
  --header-btn-alt: #e4cf12;
  --main-text-color: #fff;
  --insuarence-header: #3462ec;
  --insuarence-background: #edeeff;
  --order-background: #6379f1;
  --suport-bacground: linear #e6e8ff #b4c0fc;
  --support-header: #021f78;
  --support-text: #3551a4;
  --about-background: #6379f1;
  --footer-backgrounf: #141e55;
  --support-background-alt: #e0e2ff;
}

body {
  font-family: "Mulish", "Courier New", Courier, monospace;
}

/* Shared classes */
.container {
  display: flex;
  justify-content: center;
}

.block {
  width: 1920px;
  display: flex;
}

.col {
  background-color: var(--about-background);
  flex: 1;
  padding: 30px;
  margin: 30px;
  border-top-right-radius: 25px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.left,
.right {
  flex: 1;
}

.text {
  font-weight: 500;
  font-size: 20px;
  color: var(--main-text-color);
}

.insuarence-text {
  font-weight: 500;
  font-size: 20px;
  color: var(--support-text);
}

.text-2 {
  font-weight: 400;
  font-size: 20px;
  color: var(--main-text-color);
}

.title-1 {
  font-weight: 800;
  font-size: 73px;
}

.title-2,
.title-2-alt {
  font-weight: 700;
  font-size: 64px;
}

.title-2 {
  color: var(--main-text-color);
}

.title-2-alt {
  color: var(--support-header);
}

/* Specific classes */

.insuarence.container {
  background-color: var(--insuarence-background);
}

.order.container {
  background-color: var(--order-background);
}

.support.container {
  background-color: var(--support-background-alt);
}

.about.container {
  background-color: var(--about-background);
}

.header.container {
  margin-bottom: 5px;
}

.insuarence .left {
}

.insuarence-body {
  color: var(--insuarence-header);
  margin-bottom: 5px;
}

.order-header {
  margin-top: 15px;
}

.order .right {
}

.support .left {
}

.app {
  /* Untitled@2-1920x1009 1 */

  position: absolute;
  width: 1920px;
  height: 1032px;
  left: 0px;
  top: -19px;

  background: url(Untitled@2-1920x1009.jpg);
}

.app .left {
}
