:root {
  --header-right: #2e46cd;
  --header-btn: #435cac;
  --header-btn-alt: #e4cf12;
  --main-text-color: #fff;
  --insuarence-header: #3462ec;
  --insuarence-background: #edeeff;
  --insuarence-btn-alt: #000;
  --order-background: #6379f1;
  --suport-bacground: linear #e6e8ff #b4c0fc;
  --support-header: #021f78;
  --support-text: #3551a4;
  --about-background: #6379f1;
  --footer-backgrounf: #141e55;
  --support-background-alt: #e0e2ff;
}

body {
  font-family: "Mulish", "Courier New", Courier, monospace;
}

ul {
  list-style: none;
}

.header a {
  display: inline-block;
  width: 240px;
  height: 60px;
  padding: 16px;
  border: 1px solid var(--header-btn);
  border-radius: 9px;
  text-decoration: none;
  text-align: center;
}

/* Shared classes */
.container {
  display: flex;
  justify-content: center;
  padding: 0 90px;
}

.block {
  width: 1920px;
  display: flex;
}

.header.container {
  color: var(--header-btn);
}

.col {
  background-color: var(--about-background);
  flex: 1;
  padding: 30px;
  margin: 30px;
  border-top-right-radius: 25px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.left,
.right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.text-app {
  font-weight: 500;
  font-size: 20px;
  color: var(--main-text-color);
}

.insuarence-text {
  font-weight: 500;
  font-size: 20px;
  color: var(--support-text);
}

.text {
  font-weight: 500;
  font-size: 25px;
  color: var(--main-text-color);
}

.text-2 {
  font-weight: 400;
  font-size: 20px;
  color: var(--main-text-color);
}

.title-1 {
  font-weight: 800;
  font-size: 73px;
}

.title-1-qna {
  color: var(--insuarence-header);
}

.title-2-alt {
  font-weight: 700;
  font-size: 64px;
}

.title-2 {
  font-weight: 800;
  font-size: 73px;
  color: var(--main-text-color);
}

.title-2-alt {
  color: var(--support-header);
}

/* Specific classes */

.header {
  display: flex;
  /* align-content: space-between; */
  justify-content: space-between;
  align-items: center;
  /* padding: 17px; */
}

.header-logo {
  margin: 10px 20px 10px 25px;
}

.header-main:hover {
  box-shadow: 0px 3px 10px 1px #00000085;
}

.header-services:hover {
  box-shadow: 0px 3px 10px 1px #00000085;
}

.header-about:hover {
  box-shadow: 0px 3px 10px 1px #00000085;
}

.header-qna:hover {
  box-shadow: 0px 3px 10px 1px #00000085;
}

.header-alt:hover {
  box-shadow: 0px 3px 10px 1px #00000085;
}

.contact {
  display: flex;
  align-items: end;
  color: var(--main-text-color);
  background-color: var(--header-right);
  text-decoration: solid;
}

.insuarence.container {
  background-color: var(--insuarence-background);
}

.order.container {
  background-color: var(--order-background);
}

.support.container {
  background-color: var(--support-background-alt);
}

.about.container {
  background-color: var(--about-background);
}

.insuarence-body {
  color: var(--insuarence-header);
  /* margin-bottom: 5px; */
}

.insuarence-arrow {
  position: absolute;
  left: -63px;
  top: 99px;
}

.insuarence .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.insuarence-btn {
  display: inline-block;
  width: 240px;
  height: 60px;
  padding: 16px;
  border-radius: 9px;
  background-color: var(--insuarence-header);
  color: var(--main-text-color);
  text-decoration: none;
  text-align: center;
}

.insuarence-btn:hover {
  color: var(--main-text-color);
}

.insuarence-btn-alt {
  background-color: var(--main-text-color);
  color: var(--insuarence-btn-alt);
  border: 1px solid #000;
}

.insuarence-btn-alt:hover {
  color: var(--insuarence-btn-alt);
}

.order-header {
  margin-top: 15px;
}

.order .right {
}

.support .left {
}

.app {
  background-color: #021f78;
  background: url(../images/background-app.png) no-repeat center center fixed;
  background-size: cover;
}

.picture {
  margin-right: 15%;
  max-width: 100%;
}

.right .picture {
  margin-left: 300px;
}

.footer-btns {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-left {
}

.footer-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: flex-end;
}

/* .footer-btns {
  display: inline-block;
} */
